@import './styles/figmaVariables.css';

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

.routes-content {
	font-family: 'Pretendard-Regular';
	padding-top: 80px;
	padding-bottom: 70px;
	min-height: calc(100vh - 110px);
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--pastel-green-50);
}

#app {
	max-width: 450px;
	height: inherit;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--white);
}
