@import '../App.css';

.cardWrap {
	display: flex;
}

.cardActionArea {
	display: flex !important;
	justify-content: space-between !important;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	height: 140px;
}

.cardMedia {
	width: 20%;
	height: 100%;
}

.cardMedia img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.cardContent {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 70%;
	height: 100%;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

cardFavorite {
	height: 100%;
}

.favorite {
	cursor: pointer;
}

.truncateText {
	white-space: nowrap;	/* 텍스트 한 줄 */
	overflow: hidden;
	text-overflow: ellipsis;	/* overflow 텍스트 ...으로 표시 */
	display: block;
	width: 100%;
  }
