:root {
	--smalt-50: #ebf6ffff;
	--smalt-100: #d2ecffff;
	--smalt-200: #afdeffff;
	--smalt-300: #78cbffff;
	--smalt-400: #39adffff;
	--smalt-500: #0b85ffff;
	--smalt-600: #0060ffff;
	--smalt-700: #0047ffff;
	--smalt-800: #0039d4ff;
	--smalt-900: #022f8eff;
	--smalt-950: #072364ff;
	--pastel-green-50: #f0fce9;
	--pastel-green-100: #ddf7d0;
	--pastel-green-200: #bef0a6;
	--pastel-green-300: #95e472;
	--pastel-green-400: #7ed957;
	--pastel-green-500: #50bb27;
	--pastel-green-600: #3c951b;
	--pastel-green-700: #2f7219;
	--pastel-green-800: #295a1a;
	--pastel-green-900: #264d1a;
	--pastel-green-950: #0f2a09;
	--black: #000000ff;
	--gray: #4d4d4dff;
	--gray2: #a0a0a0ff;
	--gray3: #d1d1d1ff;
	--white: #f5f5f5ff;
	--mc1: #e38b29ff;
	--mc2: #f1a661ff;
	--mc3: #ffd8a9ff;
	--mc4: #fdeedcff;
	--radius1: 15px;
	--input_height: 50px;
	--font_size1: 16px;
	--font_size2: 20px;
	--font_size3: 24px;
	--font_size4: 32px;
}
