.circularProgress {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.listWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categoryList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2em;
}

.beerList {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 4px;
    margin-right: 4px;
}