@import '../App.css';

.loginContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loginContainer > hr {
	margin-top: 15%;
	margin-bottom: 10%;
	height: 2px;
	width: 85%;
	background-color: var(--smalt-500);
}

.loginLogo {
	width: 90%;
	height: 90%;
}

.loginBtn {
	margin-top: 20px;
	width: 300px;
	font-size: var(--font_size2);
}

.loginText {
	text-align: center;
	font-size: var(--font_size3);
	margin-bottom: 24px;
}

.noLoginText {
	text-align: center;
	font-size: var(--font_size2);
}
