@import './figmaVariables.css';

.navbar {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
}

.navLogo {
	height: 50px;
	width: 50px;
}

.login {
	font-size: var(--font_size2);
}
