.card {
	margin-top: 10px;
	flex-shrink: 0;
	width: 120px;
	height: inherit;
	border: 1px solid var(--pastel-green-300);
}

.imgContainer {
	width: 95%;
	height: 150px;
	position: relative;
}

.beerImg {
	width: 100%;
	height: 100% !important;
	object-fit: contain !important;
}
