@import './figmaVariables.css';

.description {
	background-color: var(--pastel-green-50);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.icon {
	transform: rotate(180deg);
	color: var(--pastel-green-300);
}

.beerList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 1rem;
}

.beerItem {
	width: 140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.5rem;
	position: relative;
}

.imgContainer {
	position: relative;
	width: 120px;
	height: 120px;
}

.beerImage {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 50%;
	border: 3px solid var(--pastel-green-500);
}

.beerName {
	margin-top: 0.5rem;
	text-align: center;
	white-space: break-spaces;
}

.imageOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	opacity: 0;
	transition: opacity 0.2s;
}

.impageOverlay.visible {
	opacity: 1;
}

.checkIcon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--white);
	font-size: 3rem;
}
